<% content_for :head do %>
  <title>The Middleman!</title>
<% end%>

<h1>DEADMAU5</h1>

<div id="moja">
	<div class="head"></div>
	<div class="left eye"></div>
	<div class="right eye"></div>
	<div class="mouth"></div>
	<div class="mouth shadow"></div>
	<div class="left ear">
		<div class="inner ear"></div>
	</div>
	<div class="right ear">
		<div class="inner ear"></div>
	</div>
</div>

<div id="background"></div>


